<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>Second Line</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="signin">
    <i class="material-icons">perm_identity</i>Sign In
  </button>
  <button mat-button routerLink="signup">
    <i class="material-icons">assignment</i>Sign Up
  </button>
  <button mat-button routerLink="signout">
    <i class="material-icons">exit_to_app</i>Sign Out
  </button>

  <mat-icon class="example-icon">verified_user</mat-icon>
</mat-toolbar-row>
</mat-toolbar>
