<mat-card>

  <button mat-raised-button color="primary"
          *ngIf="testLevel == 0" (click)="startTest()"> Start test
  </button>

  <div *ngIf="task">
    <p *ngIf="testLevel != 0">Your lavel: <strong>{{ testLevel }} / {{ totalLevel }} </strong></p>
    <p>Translate word: <strong>{{task.word}}</strong></p>
    <form (ngSubmit)="nextLevel()">
      <mat-radio-group [(ngModel)]="answerWord" name="selectTranslate">
        <mat-radio-button
          *ngFor="let options of task.translateWords "
          [value]="options" >{{options}}
          <!--ngDefaultControl required>{{options}}-->
        </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
      <div>Your pick: {{answerWord}}</div>
      <button mat-raised-button color="primary" type="submit"> OK</button>
    </form>
  </div>


</mat-card>
